body {
    margin: auto 0;
    color: #473144;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-family: Verdana, sans-serif;
}

header {
    text-align: center;
} 

.skiptocontent {
    position: absolute;
    left: -500px;
    background-color: #473144;
    color: aliceblue;
}

.skiptocontent:focus {
    left: 50px;
}

.menu ul {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    justify-content: end;
    list-style-type: none;
}

.menu {
    border-top: 2px solid #efc69b;
    border-bottom: 2px solid #efc69b;
}

.menu ul {
    padding-right: 50px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a, .book-title {
    color: #AF1B3F;
}

main {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.filter {
    grid-column: 2/3;
    padding: 30px;
    border: solid #efc69b 2px;
    margin: 30px;
}

.books {
    grid-row-start: 1;
}

.book-cover {
    display: flex;
    justify-content: center;
}

.book-cover img {
    width: 50%;
    padding: 20px;
}

.book-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.book-info {
    padding-right: 30px;
    text-align: right;
    line-height: 0.5em;
    border-right: solid #efc69b 2px;
    margin-top: 30px;
    
}

.book-info p:first-of-type {
    font-size: 1.5em;
}

.book {
    padding: 30px;
    padding-top: 20px;
}